/*
In postcss-default-selector.js, the :default selector is replaced by
e.g., `:not([class~="custom"])`.
*/
h1:default {
    @extend .kern-heading-x-large;
}

h2:default {
    @extend .kern-heading-large;
}

h3:default {
    @extend .kern-heading-medium;
}

h4:default {
    @extend .kern-heading-small;
}

p:default {
    @extend .kern-body;
}

ul:default {
    @extend .kern-list, .kern-list--bullet;
}

ol:default {
    @extend .kern-list, .kern-list--number;
}

a:default {
    @extend .kern-link;
    /* reset padding: kern-link seems to be only for block-level links. */
    padding: 0;
}

strong:default {
    @extend .kern-body--bold;
}

details:default {
    @extend .kern-accordion;
}

details summary:default {
    @extend .kern-accordion__header;
}

details summary > *:default {
    @extend .kern-title;
    color: var(--kern-color-action-default);
}

details > *:not(summary):default {
    @extend .kern-accordion__body;
}

/* allow details to be used without wrapper */
details + details:default {
    border-top: 0;
}

*:has(> input[type='text']):default {
    @extend .kern-form-input;
}

form input:default {
    @extend .kern-form-input__input;
}

form label:default {
    margin-bottom: var(--kern-metric-space-small, 8px);
    display: block;
}

label:default {
    @extend .kern-label;
}

select:default {
    @extend .kern-form-input__select;
}

.select-wrapper {
    @extend .kern-form-input__select-wrapper;
}