h1 {
    @extend .kern-heading-x-large;
}

h2 {
    @extend .kern-heading-large;
}

h3 {
    @extend .kern-heading-medium;
}

h4 {
    @extend .kern-heading-small;
}

p {
    @extend .kern-body;
}

ul {
    @extend .kern-list, .kern-list--bullet;
}

ol {
    @extend .kern-list, .kern-list--number;
}

a {
    @extend .kern-link;
    /* reset padding: kern-link seems to be only for block-level links. */
    padding: 0;
}

strong {
    @extend .kern-body--bold;
}

details {
    @extend .kern-accordion;
}

details summary {
    @extend .kern-accordion__header;
}

details summary > * {
    @extend .kern-title;
    color: var(--kern-color-action-default);
}

details > *:not(summary) {
    @extend .kern-accordion__body;
}

/* allow details to be used without wrapper */
details + details {
    border-top: 0;
}

*:has(> input[type='text']) {
    @extend .kern-form-input;
}

form input {
    @extend .kern-form-input__input;
}

form label {
    margin-bottom: var(--kern-metric-space-small, 8px);
    display: block;
}

label {
    @extend .kern-label;
}

select {
    @extend .kern-form-input__select;
}

.select-wrapper {
    @extend .kern-form-input__select-wrapper;
}